/*--------------------------------*- C++ -*----------------------------------*\\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The CFD Toolbox           |
|  \\    /   O peration     | Version:  v2512                                 |
|   \\  /    A nd           | www.openfoam.com                                |
|    \\/     M anipulation  |                                                 |
\\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    arch        "LSB;label=32;scalar=64";
    class       dictionary;
    location    "system";
    object      topoSetDict;
}

actions
(
    {
        name    shockRefineZone;
        type    cellZoneSet;
        action  new;
        source  setToCellZone;
        set     shockRefineZone;
    }
);

// ************************************************************************* //
